{% extends 'base_documento.html.twig' %}

{% block body %}

  <style type="text/css">

    h1 h2 h3 h4{
      margin-bottom: 0;
    }
    .title{
      text-align: center;
    }

   /* .container{
      width:1700px;
      height: 2800px;

    }*/

    .bordered{
      border: solid;
      margin-top: 100px;
      width: 90%;
      margin-left: 5%;
      z-index: 0;
    }

    .line{
      margin-top: 40px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 40px;
      border: 0;
      border-style: dashed;
      border-top: 1px solid #000;

    }
    td.descripcion{
      width: 10%;
    }

  </style>  
  
{#   <div class="container"> #}
    <section class="bordered">

      <div style="text-align:center">
           <img style="padding-top:10px"src="http://ourcodeworld.com/resources/img/ocw-empty.png" width="10%" height="10%" alt="escudo">
      </div>
      <br>
      <br>
      <h1 class="title">CONSEJO DELIBERANTE</h1>
      <h3 class="title">DE</h3>
      <h3 class="title">LOMAS DE ZAMORA</h3>
      <br>
      <br>
      <table style="width:60%;margin-left:20%">
        <tbody>
          <tr>
            <td class="descripcion"><strong>Expediente N°:</strong></td>
            <td class="descripcion" style="font-size:xx-large"><p style="text-align:center"><strong><i>1</i></strong></p></td>
            {# <td><h1 style="text-align:center"><strong><i>1</i></strong></h1></td> #}
            <td class="descripcion"><strong>Letra:</strong></td>
            <td class="descripcion" style="font-size:xx-large"><p style="text-align:center"><strong><i>V</i></strong></p></td>
            <td class="descripcion"><strong>Año:</strong></td>
            <td class="descripcion" style="font-size:xx-large"><p style="text-align:center"><strong><i>17</i></strong></p></td>
          </tr>
        </tbody>
      </table>
      {# <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-4">
              <ul class="list-inline">
                <li class="list-inline-item"><label>Expediente N°:</label></li>
                <li class="list-inline-item"><h1 class="text-center"><strong><i>1</i></strong></h1></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline">
                <li class="list-inline-item"><label>Letra:</label></li>
                <li class="list-inline-item"><h1 class="pull-center"><strong><i>V</i></strong></h1></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline">
                <li class="list-inline-item"><label>Año:</label></li>
                <li class="list-inline-item"><h1 class="pull-center"><strong><i>17</i></strong></h1></li>
              </ul>
            </div>
          </div>
        </div>
      </div> #}
      <br>
      <hr class="line">
      <hr class="line">
      <hr class="line">
      <hr class="line">
      <hr class="line">
      <hr class="line">
      <hr class="line">
      <br>
      <label for="entrada">Fecha Entrada:</label>
      <input style="font-size:x-large" id="entrada" value="15/5/2017">
      <br>
      <label for="entrada">Origen:</label>
      <input style="font-size:x-large" id="entrada" value="Cambiemos">
      <label>Observaciones:</label>
      <div class="row">
        <div>
          <hr class="line">
          <hr class="line">
          <hr class="line">
        </div>
      </div>
      <br>
      <br>
      <br>
    </section>
 {#  </div> #}

{% endblock %}